const BASE_API_URL = "PLACEHOLDER_APIPREFIX";

// List of allowed origins
const allowedOrigins = [
    'PLACEHOLDER_CORS1',
    'PLACEHOLDER_CORS2'
];

const API_URLS = {
    apiSecretKey: "PLACEHOLDERT_SECRET",
    CORS:allowedOrigins,
    GETPORTFOLIOPERFORMANCEDATA: BASE_API_URL + "GetPortfolioPerformanceData",
    GETASSETALLOCATIONDATA: BASE_API_URL + "GetAssetAllocationData"
};

module.exports = API_URLS;